<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      TOTONOU
    </h2>
    <p class='service-explain'>
      全国のサウナの情報を共有できる
    </p>
    <p class='service-explain'>
      サウナ好きのためのサイトです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>
  

  <%# 施設一覧 %>
  <div class='item-contents'>
    <h2 class='title'>温泉施設一覧</h2>
    
    <ul class='item-lists'>
    <% if @hot_springs.present? %>
      <% @hot_springs.each do |hot_spring|%>
      <li class='list'>
        <%= link_to hot_spring_path(hot_spring.id) do %>
        <div class='item-img-content'>
          <% if hot_spring.image.present?%>
            <%= image_tag hot_spring.image, class: "item-img" %>
          <% else %>
             <%= image_tag "sample.png", class: "item-img" %>
          <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= hot_spring.name %>
          </h3>
          <div class='item-price'>
             <div class='man-sauna'>
                <p class='man-title'>男湯</p>
                <p class='sauna-room'>サウナ室</p>
                <span><%= hot_spring.man_sauna.hot_temperture %>度</span>
                <p class='water-room'>水風呂</p>
                <%= hot_spring.man_sauna.cold_temperture %>度</span>
              </div>
              <div class='woman-sauna'>
                <p class='woman-title'>女湯</p>
                <p class='sauna-room'>サウナ室</p>
                <span><%= hot_spring.woman_sauna.w_hot_temperture %>度</span>
                <p class='water-room'>水風呂</p>
                <span><%= hot_spring.woman_sauna.w_cold_temperture %>度</span>
              </div>
            <div class='heart-btn'>
              <div class="likes_buttons_<%= hot_spring.id %>">
              <%= render 'shared/likes',hot_spring: hot_spring %>
              </div>
              <%#= image_tag "heart.png", class:"heart-icon" %>
              <%#span class='heart-count'>0</span%>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    <% else%>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag 'sample.png', class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            温泉施設を登録してね
          </h3>
          <div class='item-price'>
           
            <div class='heart-btn'>
              <%= render "shared/hot-spring-likes" %>
              <%#= image_tag "heart.png", class:"heart-icon" %>
              <%#span class='heart-count'>0</span%>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>

  <%# コメント一覧%>
  <div class='comment-contents'>
    <h2 class='title'>コメント一覧</h2>
    <ul class='comment-lists'>
      <% if @comments.present? %>
        <% @comments.each do |comment|%>
          <li class='list'>
            <div class='comment-info'>
              <h3 class='comment-name'>
                <%= link_to comment.user.nickname, user_path(comment.user.id) %>
              </h3>
              <div class='hot_spring-name'>
                <%= link_to comment.hot_spring.name, hot_spring_path(comment.hot_spring.id) %>
              </div>
              <div class='comment-content'>
                <%= comment.content%>
              </div>
              <div class='heart-btn'>
                <%= image_tag "heart.png", class:"heart-icon" %>
                <span class='heart-count'>0</span>
              </div>
            </div>
          </li>
        <% end %>
      <% else%>
        <li class='list'>
          <%= image_tag 'sample.png', class: "comment-img" %>
          <div class='comment-info'>
            <h3 class='comment-name'>
              コメントを投稿してね
            </h3>
            <div class='heart-btn'>
              <%= image_tag "heart.png", class:"heart-icon" %>
              <span class='heart-count'>0</span>
            </div>
          </div>
        
        </li>
      <% end %>
    </ul>
  </div>
  <%# コメント一覧%>
</div>

<%= render "shared/footer" %>