<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('sauna-logo.png' , size: '185x50'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">温泉施設の情報を入力</h2>
    <%= form_with model: @sauna, url: hot_springs_path, method: :post, local: true do |f| %>


    <%= render 'shared/error_messages', model: f.object %>

    <%# 施設画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        施設外観画像
        
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# 施設画像 %>
    
    <div class="new-items">
      <div class="weight-bold-text">
        施設名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"施設名（必須 40文字まで)", maxlength:"40" %>
    </div>
  

    <%# 施設の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">施設の詳細
      </div>
     
      <div class="form">
        <div class='form-text-wrap'>
          <label class="form-text">郵便番号</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :postcode, class:"items-text", id:"city", placeholder:"例）123-4567"%>
      </div>

       <div class="form">
        <div class="form-text">
          都道府県
          <span class="indispensable">必須</span>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id,:name,{prompt: '---'}, {class:"select-box", id:"item-category"}) %>
        </div>
      </div>

      <div class="form">
        <div class='form-text-wrap'>
          <label class="form-text">市区町村</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :city, class:"items-text", id:"city", placeholder:"例）横浜市緑区"%>
      </div>

      <div class="form">
        <div class='form-text-wrap'>
          <label class="form-text">番地</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :block, class:"items-text", id:"addresses", placeholder:"例）青山1-1-1"%>
      </div>

      <div class="form">
        <div class='form-text-wrap'>
          <label class="form-text">建物名</label>
          <span class="form-any">任意</span>
        </div>
        <%= f.text_field :building, class:"input-default", id:"building", placeholder:"例）柳ビル103"%>
      </div>

      <div class="form">
        <div class='form-text-wrap'>
          <label class="form-text">
          HP</label>
          <span class="form-any">任意</span>
        </div>
        <%= f.text_area :homepage, class:"items-text", id:"item-name", placeholder:"https://~", maxlength:"40" %>
      </div>
    </div>

<%# 施設の詳細%>

    <%# サウナについて %>
    <div class="items-detail">
      <div class="weight-bold-text question-text">
        <span>サウナについて</span>
        <span>男湯</span>
      </div>
      <div class='form-text-wrap'>
       <label class="form-text">
        サウナ室温度</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :hot_temperture, class:"items-text", id:"item-name", placeholder:"例）100", maxlength:"40" %>

      <div class='form-text-wrap'>
      <label class="form-text">
        水風呂温度</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :cold_temperture, class:"items-text", id:"item-name", placeholder:"例）15", maxlength:"40" %>

      <div class='form-text-wrap'>
      <label class="form-text">
        収容人数</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :people_count, class:"items-text", id:"item-name", placeholder:"例）10", maxlength:"40" %>

      <div class='form-text-wrap'>
      <label class="form-text">
        備考</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :remarks, class:"items-text", id:"item-name", placeholder:"例）サウナマット無し", maxlength:"40" %>

     <%# 女湯%>
     <div class="weight-bold-text question-text">
        <span>女湯</span>
      </div>
      <div class='form-text-wrap'>
      <label class="form-text">
        サウナ室温度</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :w_hot_temperture, class:"items-text", id:"item-name", placeholder:"例）100", maxlength:"40" %>

      <div class='form-text-wrap'>
      <label class="form-text">
        水風呂温度</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :w_cold_temperture, class:"items-text", id:"item-name", placeholder:"例）15", maxlength:"40" %>

      <div class='form-text-wrap'>
      <label class="form-text">
        収容人数</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :w_people_count, class:"items-text", id:"item-name", placeholder:"例）10", maxlength:"40" %>

      <div class='form-text-wrap'>
      <label class="form-text">
        備考</label>
        <span class="form-any">任意</span>
      </div>
      <%= f.text_area :w_remarks, class:"items-text", id:"item-name", placeholder:"例）サウナマット無し", maxlength:"40" %>
    </div>
    <%# サウナについて %>

   

   
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">TOTONOU利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('sauna-logo.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎TOTONOU,Inc.
    </p>
  </footer>
</div>