<%= render "shared/header" %>

<%# 施設の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @hot_spring.name %>
    </h2>
    <div class="item-img-content">
     <% if @hot_spring.image.present?%>
            <%= image_tag @hot_spring.image, class: "item-box-img" %>
          <% else %>
             <%= image_tag "sample.png", class: "item-box-img" %>
          <% end %>
    </div>
    

    

    <div class="item-explain-box">
      <span class="explain"><%= "施設情報" %></span>
    </div>
    <table class="detail-table">
    <tbody>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value">〒<%= @hot_spring.postcode%> <%= @hot_spring.prefecture.name %><%= @hot_spring.city%><%= @hot_spring.block%><%= @hot_spring.building%></td>
        </tr>
        <tr>
          <th class="detail-item">ホームページ</th>
          <td class="detail-value"><%= @hot_spring.homepage %></td>
        </tr>
    </tbody>
    </table>
    <table class="detail-table">
      <span>男湯</span>
      
        <tr>
          <th class="detail-item">サウナ室温度</th>
          <td class="detail-value"><%= @hot_spring&.man_sauna.hot_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">水風呂温度</th>
          <td class="detail-value"><%= @hot_spring&.man_sauna.cold_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">収容人数</th>
          <td class="detail-value"><%= @hot_spring&.man_sauna.people_count %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @hot_spring&.man_sauna.remarks %></td>
        </tr>
      </tbody>
     </table>

     <table class="detail-table">
       <span>女湯</span>
      <tbody>
       
        <tr>
          <th class="detail-item">サウナ室温度</th>
          <td class="detail-value"><%= @hot_spring&.woman_sauna.w_hot_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">水風呂温度</th>
          <td class="detail-value"><%= @hot_spring&.woman_sauna.w_cold_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">収容人数</th>
          <td class="detail-value"><%= @hot_spring&.woman_sauna.w_people_count %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @hot_spring&.woman_sauna.w_remarks %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <div class='heart-btn' id="hot_spring_<%= @hot_spring.id %>">  
           <%= render 'likes/like',hot_spring: @hot_spring %>
        </div>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な投稿の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>


 <% if user_signed_in? %>
    <%= form_with model: [@hot_spring,@comment], id: "comment-form"  do |f|%>
     <div class="comment-box">
      <%= f.text_area :content ,class: "comment-text" %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <%= f.submit "コメントをする", class: "comment-btn" %>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        
    
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :images, id:"item-image",name: 'comment[images][]', data: {index: 0} %>
      </div>
      <div id="previews"></div>
    <% end %>
  <% end %>

  <div id="comments">
    <h4>＜コメント一覧＞</h4>
      <% @hot_spring.comments.each do |comment| %>
        <div class="comment">
          <p class="user-info"><%= link_to comment.user.nickname, user_path(comment.user.id) %>： </p>
          <p><%= comment.content%></p>
          <% if comment.images.attached? %>
          <%= image_tag comment.images[0].variant(resize: '300x300'), class: "main-image" %><br>
             <div class="other-images">
                <% comment.images[1..-1].each do |image| %>
                <div class="other-image">
                <%= image_tag image.variant(resize: '300x300') %>
                </div>
               <%end%>
              </div>
          <% end %>
        </div>
      <% end %>
  </div>
    </div>
  

  

<% if user_signed_in? %>
    <%= link_to "施設情報の編集", edit_hot_spring_path(@hot_spring.id), method: :get, class: "item-red-btn" %>
<% end %>
   
</div>



<%= render "shared/footer" %>
