<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @hot_spring.name %>
    </h2>
    <div class="item-img-content">
     <% if @hot_spring.image.present?%>
            <%= image_tag @hot_spring.image, class: "item-box-img" %>
          <% else %>
             <%= image_tag "item-sample.png", class: "item-box-img" %>
          <% end %>
    </div>
    

    

    <div class="item-explain-box">
      <span><%= "施設情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value">〒<%= @hot_spring.postcode%> <%= @hot_spring.prefecture.name %><%= @hot_spring.city%><%= @hot_spring.block%><%= @hot_spring.building%></td>
        </tr>
        男湯
        <tr>
          <th class="detail-item">サウナ室温度</th>
          <td class="detail-value"><%= @hot_spring.man_sauna.hot_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">水風呂温度</th>
          <td class="detail-value"><%= @hot_spring.man_sauna.cold_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">収容人数</th>
          <td class="detail-value"><%= @hot_spring.man_sauna.people_count %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @hot_spring.man_sauna.remarks %></td>
        </tr>
        <span>女湯</span>
        <tr>
          <th class="detail-item">サウナ室温度</th>
          <td class="detail-value"><%= @hot_spring.woman_sauna.w_hot_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">水風呂温度</th>
          <td class="detail-value"><%= @hot_spring.woman_sauna.w_cold_temperture %></td>
        </tr>
        <tr>
          <th class="detail-item">収容人数</th>
          <td class="detail-value"><%= @hot_spring.woman_sauna.w_people_count %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @hot_spring.woman_sauna.w_remarks %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な投稿の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>


 <% if user_signed_in? %>
    <%= form_with model: [@hot_spring,@comment], id: "comment-form"  do |f|%>
     <div class="comment-box">
      <%= f.text_area :content ,class: "comment-text" %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <%= f.submit "コメントをする", class: "comment-btn" %>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        
    
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    <% end %>
  <% end %>

<div id="comments">
  <h4>＜コメント一覧＞</h4>
    <% @hot_spring.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= comment.user.nickname %>： </p>
        <p><%= comment.content%></p>
      </div>
    <% end %>
</div>
  </div>
  

  
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <a href="#" class="another-item"><%= "商品のカテゴリー名" %>をもっと見る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>

<% if user_signed_in? %>
    <%= link_to "施設情報の編集", "#", method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", "#", method: :delete, class:"item-destroy" %>
<% end %>
   
</div>



<%= render "shared/footer" %>
